# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual environment
.venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Test and coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/

# Jupyter notebooks
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db